* {
  padding: 0%;
}
body {
  font-family: Outfit;
  font-weight: bold;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: #e9eeff;
  color: #3F266C;
}
.container {
  width: 93%;
  height: 100%;
  margin: auto;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head  h2{
  color: #3F266C;
}
.head ul li {
  padding: 10px;
  display: inline-block;
}
.head ul a {
  text-decoration: none;
  margin: 0 7px;
}
.head a:hover {
color:rgb(230, 64, 202);
padding: 4px ;
}
.lung {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}
.content {
  align-items: center;
  text-align: center;
  font-size: 18px;
}
.content h3 {
  font-size: xx-large;
}
.Upload-Cam {
  display: flex;
  width: 90%;
}
.upload {
  border: 1px black solid;
  box-shadow: 5px 5px 3px rgb(218, 188, 188);
  background: #e9eeff;
  border-radius: 30px;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.upload-img,
.text {
  padding: 0 20px;
}
.file-input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border-radius: 15px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  padding-left: 20px;
  margin: 0 30px;
}
.custom-file-upload:hover,
input {
  color: rgb(230, 124, 124);
  background-color: rgb(194, 247, 225);
  box-shadow: 3px 3px 2px rgb(218, 188, 188);
}
#btn {
  font-weight: bold;
  font-size: large;
  background-color: #e9eeff;
  border-radius: 15px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  padding-left: 20px;
  margin: 0 30px;
  color: #3F266C;

}

#btn:hover {
  color: rgb(230, 124, 124);
  background-color: rgb(194, 247, 225);
  box-shadow: 3px 3px 2px rgb(218, 188, 188);
}
.Scan-upload{
  display: flex;
  justify-content: space-between;
}
.footer {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-top: 70px;
}
.foot {
  display: flex;
}
.foot h2 {
  padding-left: 20px;
}
.links a,
img {
  cursor: pointer;
}
.ph {
  align-items: center;
  text-align: center;
}
#label-container {
  width: 370px;
  height: 130px;
  background-color: rgb(240, 244, 245);
  box-shadow: 5px 10px 3px rgb(218, 188, 188);
  padding: 0 10px;
  font-size: 20px;
  color: rgb(152, 91, 194);
  justify-content: center;
  align-items: center;
}
#canvas {
  padding: 10px 0;
  width: 250px;
  height: 200px;
  margin: auto;
}
#label-container-cam{
  color: rgb(152, 91, 194);
  font-size: 20px;
  display: inline-block;
}
.All{
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 10px 3px rgb(218, 188, 188);
  
  }