body {
  width: 100%;
  font-family: "Reddit Sans", sans-serif;
  background-color: #f3f5fe;
  overflow: hidden;
}
* {
  padding: 3px;
  margin: 3px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3f266c;
}
.navbar ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.navbar a:hover {
  color: rgb(230, 64, 202);
}
.container {
  background-color: #ededed;
  height: 700px;
  width: 90%;
  margin: 60px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 3px rgb(218, 188, 188);
}
.container h1 {
  text-align: center;
  color: #3f266c;
  align-items: center;
}
.container p {
  font-family: Sedan SC;
  font-size: 30px;
  color: #3f266c;
  padding: 10px;
  text-align: center;
  padding-top: 200px;
  text-transform: capitalize;
}
